*{margin: 0; padding: 0;
}
.nav1{ 
}
.navitem{padding-top: 30px;  
}
ul li {display: inline;
padding: 20px; 
}
.navitem ul li{
  display: inline;
}
a{
    text-decoration: none;
 color: black;
 color: aliceblue;
 text-transform: uppercase;
}
.image{background-image: url(wp9246168.jpg);
width: 100%;
height: 1200px;
image-repeat: repeat;
}
button{background: transparent;
border-radius: 20px;
width: 200px;  
padding: 20px;
margin-top: 40px;
}
h1{text-align: center;
padding-top: 330px;
font-size: xx-large;
}